############################################
# Global
############################################
* @IamBlueSlime

############################################
# Renovate
############################################
package.json
package-lock.json
